<div>
    <label for="name">Name: </label>
    <input value="<%= cocktail.name %>" type="text" name="name" id="name" />
</div>
<div>
    <label for="ingredients">Ingredients: </label>
    <input value="<%= cocktail.fixings %>" type="text" name="ingredients" id="ingredients" />
</div>
<div>
    <label for="recipe">Recipe: </label>
    <input value="<%= cocktail.recipe %>" type="text" name="recipe" id="recipe" />
</div>
<br />