<%- include('./partials/header'); -%>
    <form action="http://localhost:3000/cocktails/cocktails_search" method="POST"></form>
    <h1>
        Pick Your Poison
    </h1>
    Search by Cocktail Name:
    <br>
    <input type="text" name="name" value="">
    <br>
    <br> Search by Ingredient:
    <br>
    <input type="text" name="fixings" value="">
    <br>
    <br>
    <input type="submit" value="Submit">
    </form>
    <%- include('./partials/footer'); -%>

