<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <title>Search</title>
</head>

</html>

<body>
    <form action="http://localhost:3000/cocktails/ingredient/search" method="get"></form>
    <h2>Pick Your Poison</h2>
    <div class="control has-icons-left">
        <div class="select">
            <select>
                <option selected>Ingredient</option>
                <option>gin</option>
                <option>tequila</option>
                <option>whiskey</option>
            </select>
        </div>
        <div class="control">
            <input class="button is-primary" type="submit"></input>
        </div>

        <span class="icon is-left">
            <i class="fas fa-globe"></i>
        </span>
    </div>
    </form>