<%- include('./partials/boilerplate') %>
    <h2>Found a Mistake? <br> Help a Girl Out!</h2>
    <form method="POST" action="/cocktails/<%= cocktails.id %>?_method=PUT">
        <%- include('./partials/bodyText') %>
            <input type="submit" value="Update Cocktail" />
    </form>
    <%- include('./partials/footer') %>