<%- include('./partials/boilerplate') %>
    <h1>Fizz, Bubble, Clink!
    </h1>
    <div>
            <a href="/cocktails">Back to Cocktails</a>
    </div>
<%- include('./partials/changeInfo', {cocktail}) %>
<%- include('./partials/footer') %>