<%- include('./partials/boilerplate') %>
    <h4>Peruse Cocktails</h4>
    <p>OR</p>
    <h4>Pick a number (1-50) and be surprised!</h4>
    <!-- <form></form> -->
    <% cocktails.forEach((cocktail) => { %>
        <%- include('./partials/changeInfo.ejs', {cocktail: cocktail}) %>
            <% }) %>
                <%- include('./partials/footer') %>